body {
  background-color: #ffeb91;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: rgb(42, 42, 42);
  margin-bottom: 22px;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: lemonchiffon;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav .nav-link:hover {
  color: #ffd700;
}
.navbar-toggler-icon {
  color: lemonchiffon;
}

.navbar-toggler {
  border-color: lemonchiffon;
}
.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
}
.form-control:required {
  border-color: #dc3545;
}

.form-control:required:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.form-control:valid {
  border-color: #28a745;
}

.form-control:valid:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.form-label {
  font-weight: bold;
}

.form-control {
  background-color: lemonchiffon;
}
#subtitle {
  font-style: italic;
}

footer {
  color: lemonchiffon;
  background-color: rgb(42, 42, 42);
  font-size: 0.8rem;
  text-align: center;
}
.list-inline-item a img {
  width: 25px;
}
.spinner-border {
  width: 100px;
  height: 100px;
}
