body {
  background-color: lemonchiffon;
}
/* Background e colori */
.navbar {
  background-color: rgb(42, 42, 42);
}
.navbar-brand,
.navbar-nav .nav-link {
  color: lemonchiffon;
}

.navbar-brand img {
  width: 60px;
}

/* Hover sui link */
.navbar-nav .nav-link:hover {
  color: #ffd700;
}
.navbar-toggler-icon {
  color: lemonchiffon;
}

/* Bottone del toggler */
.navbar-toggler {
  border-color: lemonchiffon;
}
.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
}

h1 {
  font-size: 3.8rem;
}

.card {
  background-color: #ffeb91;
  width: 18rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.card img {
  transition: all 0.3s ease-in-out;
}
.card img:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.card:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 12rem;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 0.25rem;
}

.btn {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

#info-button {
  color: lemonchiffon;
  background-color: rgb(42, 42, 42);
  border-color: gray;
}

#info-button:hover {
  color: rgb(42, 42, 42);
  background-color: transparent;
  border-color: rgb(42, 42, 42);
  border: 3px solid;
}

#modifica-button {
  color: lemonchiffon;
  background-color: rgb(42, 42, 42);
  border-color: gray;
}

#modifica-button:hover {
  color: rgb(42, 42, 42);
  background-color: #f49d1a;
  border-color: rgb(42, 42, 42);
  border: 3px solid;
}
footer {
  color: lemonchiffon;
  background-color: rgb(42, 42, 42);
  font-size: 0.8rem;
  text-align: center;
}
