body {
  background-color: lemonchiffon;
}

.navbar {
  background-color: rgb(42, 42, 42);
}
.navbar-brand,
.navbar-nav .nav-link {
  color: lemonchiffon;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav .nav-link:hover {
  color: #ffd700;
}
.navbar-toggler-icon {
  color: lemonchiffon;
}

.navbar-toggler {
  border-color: lemonchiffon;
}
.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
}
h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.2rem;
}
h2 img {
  width: 40px;
}

.card {
  background-color: #ffeb91;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.card img {
  transition: all 0.3s ease-in-out;
}
.card img:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.card:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 16rem;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 0.25rem;
}

.btn {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

#info-button {
  color: lemonchiffon;
  background-color: rgb(42, 42, 42);
  border-color: gray;
}

#info-button:hover {
  color: rgb(42, 42, 42);
  background-color: lemonchiffon;
  border-color: rgb(42, 42, 42);
  border: 2px solid;
}

#modifica-button {
  color: lemonchiffon;
  background-color: rgb(42, 42, 42);
  border-color: gray;
}

#modifica-button:hover {
  color: rgb(42, 42, 42);
  background-color: #f49d1a;
  border-color: rgb(42, 42, 42);
  border: 2px solid;
}
footer {
  color: lemonchiffon;
  background-color: rgb(42, 42, 42);
  font-size: 0.8rem;
  text-align: center;
}
.list-inline-item a img {
  width: 25px;
}
.spinner-border {
  width: 100px;
  height: 100px;
}
