/* Stile generale della pagina */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Stile del contenitore principale */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Stile del titolo del prodotto */
h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Stile della sezione del dettaglio prodotto */
#product-details {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: rgb(42, 42, 42);
}
.navbar-brand,
.navbar-nav .nav-link {
  color: lemonchiffon;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav .nav-link:hover {
  color: #ffd700;
}
.navbar-toggler-icon {
  color: lemonchiffon;
}

.navbar-toggler {
  border-color: lemonchiffon;
}
.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
}

footer {
  color: lemonchiffon;
  background-color: rgb(42, 42, 42);
  font-size: 0.8rem;
  text-align: center;
}
.list-inline-item a img {
  width: 25px;
}
.spinner-border {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

/* Background e colori */
/* .navbar {
  background-color: #f49d1a;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: #101010;
}
.navbar-brand img {
  width: 60px;
} */

/* Hover sui link */
/* .navbar-nav .nav-link:hover {
  color: #ffd700;
} */

/* Bottone del toggler */
/* .navbar-toggler {
  border-color: #1b1b1b;
}
.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
} */
/* Icona del bottone del toggler */
/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 215, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} */

/* Link attivo */
/* .navbar-nav .active > .nav-link {
  color: #ffd700;
} */

/* Dropdown */
/* .dropdown-menu {
  background-color: #222;
}
.dropdown-item {
  color: #fff;
}
.dropdown-item:hover {
  background-color: #ffd700;
  color: #222;
} */
